@import url(./header-footer.css);
@import url(./perfil.css);
@import url(./cobranca.css);

.box7{
    width: 51.725rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #29374CCC;
    height: 52vh;
    justify-content: space-between;
    align-items: center;
}

.form-senha{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 3rem;
}

.input-senha input{
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid #29374CCC;
    width: 300px;
    outline-color: var(--purple);
}